

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  
  background-color: #131314;
  padding: 5px 20px;
}

.header_link {
  font-size: large;
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.header_link:hover {
  border-bottom: 2px solid white;
  
}

.header_link:visited {
  text-decoration: none;
}

.header_active {
  font-size: large;
  font-weight: bold;
  margin-right: 20px;
  color: rgb(61, 179, 100);
  border-bottom: 2px solid pink;
  text-decoration: none;
}